.block
  display: flex
  padding: 2rem 0
  align-items: stretch
  position: relative
  z-index: 101
  &--left
    flex-direction: row-reverse
    .block__content
      padding-left: 1rem
  &--right
    flex-direction: row
    .block__content
      padding-right: 1rem
  &__content
    padding-top: 5rem
    padding-bottom: 5rem
  &__image
    flex-basis: 40%
    background-color: $base_body_color
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
  &__overtitle
    padding-left: 5rem
    position: relative
    text-transform: uppercase
    &::before
      position: absolute
      left: 0
      width: 4rem
      content: ""
      top: calc(50% - 2px)
      border-bottom: 2px solid $base_body_color
      