.carousel
  text-align: center
  padding-top: $space-unit*6
  &__overtitle
    +lines-both
    letter-spacing: $overtitle_spacing
  &__title
    text-align: center
    padding-bottom: $space-unit*4
  &__slides
    text-align: center
    width: 90%
    .swiper-button-prev
      display: none
    &--no-slider
      width: initial
      display: flex
      flex-wrap: wrap
      .carousel__slide
        flex-grow: 1
        flex: 33%
        padding: 1rem
  &__slide
    padding: 0 1rem
    &__image
      height: 4rem
    &__title
      padding-top: 2rem
      padding-bottom: 1rem
  &__next
    +swiper-next