.text
  padding: $space-unit*3 1em
  // &__title
  &__subtitle
    padding-top: 0.5em
  &__content
    font-size: 1.2rem
    line-height: 160%
    padding-top: 1em
    strong 
      backgroun-color: #6A72DC